*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}
.imageContainer{
    height: 350px;
    width: 300px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}
.btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    color: #ffff;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2;
}
#next{
    right: 0;
}
.btn:hover{
    background-color:rgba(0, 0, 0, 0.65) ;
}
.imageContainer .imagesBox{
    height: 350px;
    /* width: 300px; */
    display: flex;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out; 
}
.imageContainer img{
    height: 100%;
    width: 300px;
    object-fit: cover;
    flex-shrink: 0;
    object-position: top;
}
/* .imageContainer img:nth-child(1){
    transform: translatex(-300px);
} */