*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
/* 
1.max width kaise kaam kar rhi h agar yha right left se margin dete to bhi kya ye thik ho jata
2.mainImage ki position relative krne se iski height bhi overflow hona band ho gyi or isne nav ko bhi hide kar liye tha fir nav ko z index dena pda
3.yha ye mainImage:before ka use krke ye kya kiya yha kay ek box create hua kya hum esa effect main image ki opacity set krke bhi de skte the
 */
nav{
    background: #1b1b1b;
    padding: 0 10px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav ul{
    max-width: 1250px;
    /* background-color: red; */
    margin: auto;
}
nav ul{
    /* padding: 0 20px; */
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    height: 60px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.secondDiv li a:hover{
    background-color: #fff;
    color: black;
}
nav ul .firstDiv{
    font-size: 25px;
    font-weight: 700;

}
nav ul .secondDiv {
    display: flex;
    gap: 2rem;
    font-size: 18px;
    font-weight: 500;
}
main .mainImage{
    background: url(img.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
main .mainImage::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 0 20px;
    text-align: center;
    width: 100%;
}
.center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
.center .subTitle{
    font-size: 52px;
}
.center .btns{
    margin-top: 20px;

}
.center .btns button{
    height: 55px;
    width: 170px;
    border-radius:5px;
    border: none;
    margin: 0 10px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.btns button:first-child{
    color: #ffff;
    background: none;
}
.btns button:first-child:hover{
    color: #000;
    background: #ffff;
}