*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    margin: 3rem;
}
.btn{
    /* display: inline-flex; */
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin-left: 2rem;
    color: #fff;
}
.btn:hover{
    transition: all 0.3s ease;
    cursor: pointer;
}
#colorChangeBtn{
    background-color: rgb(77, 77, 255);
}
#colorChangeBtn:hover{
    background-color: rgb(11, 11, 248);
}
#resetColorBtn{
    background-color: tomato;
}
#resetColorBtn:hover{
    background-color: red;
}
.colorCodeContainer{
    margin-top: 2rem;
    font-size: 20px;
}