.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.loader{
    height: 15px;
    background-color: rgb(0, 157, 255);
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    gap: 2px;
    overflow: hidden;
}

.loader .chip{
    width: 10px;
    background-color: rgb(239, 236, 236);
    height: inherit;
    border-radius: inherit;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: chipAnimation 1.9s infinite reverse linear;
}

@keyframes chipAnimation {
    from{
        transform: translatex(300px);
    }
    to{
        transform: translatex(0%);
    }
}