*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.mainBox{
    position: relative;
    background: url("image.jpg") right no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.mainBox .slider{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.slider .logo{
    position: absolute;
    width: 100%;
    height: 60px;
     box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.slider .logo a{
    color: #ffff;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
}
.slider .menue{
    position: absolute;
    top: 80px;
    width: 100%;
}
.slider .menue li{
    margin-top: 6px;
    padding: 14px 20px;
    transition: all 0.3s linear;
}
.slider .menue i{
    color: #fff;
    font-size: 20px;
    padding-right: 8px;
}
.slider .menue li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.slider .menue li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0px 0px 4px rgba(255,255,255,0.5) ;
}
.slider  .socialMedia{
    position:  absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.2s linear;
}
.socialMedia i{
    padding: 0 10px;
    color: #fff;
    opacity: 0.6;
    font-size: 15px;
}
.socialMedia i:hover{
    opacity: 1;
}
#check{
    display: none;
}
.mainBox .btnOne i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}
.slider .btnTwo i{
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
}
.btnOne i:hover{
    font-size: 29px;
}
.btnTwo i:hover{
    font-size: 23px;
}
#check:checked ~ .slider{
    left: 0;
}
#check:checked ~  .btnOne i{
    opacity: 0;
}
#check:checked ~ .slider .btnTwo i{
    opacity: 1;
}