*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}
body{

    background-color: #f5f5f4;
}
.wrapper{
    height: 100vh;
}
.wrapper .card{
    margin: 0 auto;
    margin-top: 3rem;
    height: 450px;
    width: 500px;
    box-shadow: 0px 0px 0px #2b2929;
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
}
.card .heading{
    font-size: 25px;
    font-weight: 700;
}
.card .inputContainer{
    margin: 1rem 0px;
    /* border: 1px solid black; */
    width: 100%;
    position: relative;
}
.card input{
    width: inherit;
    padding: 8px;
    font-size: 16px;
    border: 2px solid rgb(109, 108, 108);
    outline: none;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.card input:focus{
    border-color: rgba(77, 77, 244, 0.936);
}
.btn{
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: tomato;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    right: -10px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.btn:hover{
    background-color: red;
}
.card .taskContainer{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.card .taskContainer .checkIcon{
    margin-right: 10px;
    display: inline-block;
    height: 18px;
    width: 18px;
    border: 2px solid #ccc;
    border-radius: 50px;

}
.taskContainer .userTask{
    display: inline-flex;
    width: 80%;
    margin-right: 10px;
    overflow: auto;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 550;
    border: none;
    border-bottom: 2px solid gray;
}
.taskContainer .deleteBtn{
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    font-family: cursive;
    background-color: rgba(81, 50, 253, 0.929);
    color: #ffff;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.taskContainer .deleteBtn:hover{
    background-color: rgb(36, 36, 253);
}
/* .outpurContainer{
    border: 2px solid black;
} */