*{
    margin: 0;
    padding: 0;
}
h1{
    margin: 3rem 2rem;
    font-family: cursive;
    text-align: center;
    text-shadow: 0px 0px 8px orange;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.imgContainer{
    display: flex;
    visibility:hidden;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 350px;
}
img{
height: 100%;
width: 100%;
object-fit: cover;
object-position: center;
border: 2px solid white;
border-radius: 15px;

}
img:hover{
    border-color: rgb(79, 79, 250);
    transform: scale(1.01);
    transition: 0.3s;
    cursor: pointer;
}
#btn{
    padding: 0.5rem 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgb(15, 250, 15);
    position: absolute;
    top: 145px;
    right: 225px;
    /* transform: translateY(-100px); */
}
#btn:hover{
    background-color: rgb(7, 188, 7);
    transition: 0.3s;
    transform: scale(1.03);
}
.para{
   text-align: center;
   margin: 2rem;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   max-width: 800px;
   letter-spacing: 1px;
   line-height: 1.1;
   /* border: 2px solid black; */
}
.hide{
    display: none;
}