*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.card{
    /* overflow-y: hidden; */
    height: auto;
    width: 300px;
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.272);
}
.imgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border: none;
    height: 110px;
    background-color: #4074ec;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.image{
    margin-top: 3rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    border: none;
    border: 2px solid #4074ec;
}
img{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
    /* background-size: cover; */
    object-fit: cover;
    object-position: top;
}
p{
    font-family: "Lato", sans-serif;
    text-align: center;
}
.para{
    margin-top: 2rem;
    font-size: 22px;
    margin-bottom: 0.5rem;

}
#secondText{
    color: rgb(92, 92, 92);
}
.iconCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}


.iconCont a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 34px;
    width: 34px;
    /* background-color: #2567fe; */
    border-radius: 50%;
    /* color: white; */
}

.iconCont a:hover{
    cursor: pointer;
}
.facebook a{
    background: #4267b2;
}
.twitter a{
    background: #1da1f2;
}
.instagram i{
    color: #E1306C;

}
.youtube{
    color: red;
}
.btnCont{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
}
.btn{
    font-family: poppins;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    background-color: #4074ec;
}
.btn:hover{
    cursor: pointer;
    background-color: #2567fe;
}
.dataCont{
    display: flex;
    margin-top: 1.5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.dataCont .text{
     color: rgb(92, 92, 92);
     padding-right: 0.5rem;
     border-right:1px solid rgb(92, 92, 92) ;
     margin-bottom: 1rem;
}