*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:#1abc9c ;
    overflow: hidden;
}
.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}
.wrapper{
    width: 100%;
    background:#fff;
    border-radius: 8px;
}
.wrapper .title{
    line-height: 80px;
    background: #16a085;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.wrapper form{
    padding: 30px 25px 25px 25px;
}
.wrapper form .row{
    height: 45px;
    /* background: #ff0000; */
    margin-bottom: 15px;
    position: relative;
}
.wrapper form .row input{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}
form  .row input:focus{
    border-color: #16a085;
    box-shadow:inset 0px 0px 2px #16a085 ;
}
.wrapper form .row i{
    position: absolute;
    width: 47px ;
    background-color: #16a085;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    border-radius: 5px 0px 0px 5px;
}
.wrapper form .pass{
    margin: -8px 0 20px 0;
}
.wrapper form .pass a{
    text-decoration: none;
    color: #16a085;
    font-size: 17px;
}
.wrapper form .pass a:hover{
    text-decoration: underline;
}
.wrapper form .button input{
    padding-left: 0px;
    background: #16a085;
    color: white;
    border: 1px solid #16a085;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}
 form .button input:hover{
    background-color: #1abc9c;
}
.wrapper form .signupLink{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
.wrapper form .signupLink a{
    text-decoration: none;
    color: #16a085;
    font-size: 17px;
    text-align: center;
}
.wrapper form .signupLink a:hover{
    text-decoration: underline;
}