*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
.container{
    height: 100vh;
    width: 100vw;
    padding: 10px;
    /* background-color: #ffff; */
}
.wrapper{
    height: auto;
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(5,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 1rem;
    
}
.wrapper .imgBox{
    height: auto;
    max-width: 200px;
    /* border: 1px solid black; */
    background-color: #ffff;
    border-radius: 5px;
}
.imgBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*  */
@media (max-width:755px) {
    .wrapper{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:455px) {
    .wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:350px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

.modelContainer{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#closeBtn{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    right: 0;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
    align-self: flex-start;
}
#closeBtn:hover{
    background-color: red;
}

.modelContainer .imgCont{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelContainer .imgCont img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}