*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    height: 100vh;
    width: 100vw;
}
#bgVideo{
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .clockContainer{
    position: relative;
    
    border: 2px solid black;
    min-height:350px ;
    width: 450px;
    background-image: url('clock bgimage.jpg');
    background-size:cover;
    background-position: center center;
    border-radius: 20px;
    border: 5px solid white;
    border-color: #ffff;
    box-shadow: 0px 2px 20px #ffffffc8;
}
.first{
    text-align: center;
    margin-top:2.5rem;
    margin-bottom: 3rem;
    color: #ffff;
    font-size: 40px;
    font-weight: 800;
    font-family: cursive;
}
.detailsSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}
.boxOne, .boxTwo p{
    font-size: 28px;
    font-weight: 600;
    color: #ffff;
    text-shadow: 0px 0px 10px ;
    line-height: 1.5;
}
.btnContainer{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.btn{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg,rgb(0,0,200),rgb(210, 33, 210));
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.02);
    transition: 0.3s;
}

