* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

header {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}

.myntraHome {
    height: 45px;
}

.logoContainer {
    margin-left: 4%;
}

.actionBar {
    margin-right: 4%;
}

.navBar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}

.navBar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #2b2c3f;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 28px 0px;
    border-bottom: 4px solid #ffffff;
}

.navBar a:hover {
    border-bottom: 4px solid #f54e77;
}

.navBar a sup {
    color: #ff3f6c;
    font-size: 10px;
}

.searchBar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}

.searchIcon {
    height: 20px;
    box-sizing: content-box;
    padding: 10px;
    background-color: #f5f5f6;
    color: #2b2c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

.searchInput {
    background-color: #f5f5f6;
    color: #696e79;
    flex-grow: 1;
    height: 40px;
    border-radius: 3px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.actionBar {
    display: flex;
    min-width: 200px;
    justify-content: space-around;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* banner Image section*/
.bannerContainer {
    margin: 40px 0;
}

.bannerImage {
    width: 100%;
}

.categoryHeading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.categoryItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.saleItem { 
    width: 250px;
}
.footerContainer{
    padding: 30px 0px 40px 0px;
    background-color: #fafbfc;
    display: flex;
    justify-content: space-evenly;

}
.footerColoumn{
    display: flex;
    flex-direction: column;
}
.footerColoumn a{
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 5px;
    color: #696b79;
}
.footerColoumn h3{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}
.copyRight{
    color: #94969f;
    text-align: end;
    padding: 15px;
}